.Navbar {
    background-color: #4a2e11;
    padding: 0px;
}

.Primary-Navbar {
    background-color: #4a2e11;
    color: white;
    /* padding: 24px 12px; */
}

.Secondary-Navbar {
    background-color: #d9ba9a;
    color: #4a2e11;
}