.ScriptLineContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
}

.ScriptLineContainer > .Speaker {
    display: block;
    width: 20%;
    text-align: right;
}

.ScriptLineContainer > .Line {
    display: block;
    width: 70%;
    padding-left: 16px;
}