button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* ul {
    list-style-type: none;
    margin: 0px;
    width: 100%;
    padding: 0px;
} */

.SecondaryNavbarItem {
    /* background-color: #d9ba9a; */
    width: 100%;
    margin: 0px;
}

.Selected {
    border: #4a2e11;
    border-width:1px;
}

.FeatureContainer {
    display: flex;
}

.FeatureContainer > p {
    width: 60%;
    padding-right: 8px;
    margin-top: 0px;
}