@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

.App {
  font-size: 16px;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.intro {
  font-size: 16px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.Main-body {
  
}

.highlights {
  background-color: pink;
  width: 100%;
}

.QuickNote {
  background-color: #ede6c0;
}
.TextSection {
  font-family: "EB Garamond", serif;
}

.FlexDisplay {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.Entire-page {
  width: 100%;
  max-width: 764px;
  margin: 8px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}